/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul, li {
    list-style: none;
}

.menu {
    display: flex;
}

.menu li {
    background: black;
    color: white; 
    width: 100px;
    height: 25px;
}

.menu li:hover, .menu a:hover, .menu a.active {
    background: grey;
}

.menu > li .dropdown{ 
    display: none;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 4px 10px;
    line-height: 25px;
} */



/* 依序出現 */
/* .box1, .box2, .box3 {
    width: 200px;
    height:200px;
    display: none;
}

.box1 {
    background: red;
}

.box2 {
    background: yellow;
}

.box3 {
    background: blue;
}

.pink {
    background: pink;
} */

/* 字體大小、關閉廣告 */

.close {
    background: blue;
    width: 300px;
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.close-button {
    background: yellow;
    padding: 10px;
    text-decoration: none;
    color: black;
    float: right;
}